.program__objectives {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program__objectives__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program__objectives__inner .man__container__desk {
  display: none;
}
.program__objectives__inner .objectives__text__desk {
  display: none;
}
.program__objectives__inner .man__container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: #F0AB00;
}
.program__objectives__inner .white__road__line {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.program__objectives__inner .white__road__line img {
  display: block;
}
.program__objectives__inner .objectives__text__container {
  display: flex;
  position: relative;
  max-width: 300px;
}
.program__objectives__inner .objectives__text__container .gold__road__line {
  width: 1px;
  height: 299px;
  background-color: #F0AB00;
  position: absolute;
  left: 25px;
  top: 0;
}
.program__objectives__inner .objectives__text__container .objectives__text__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.program__objectives__inner .objectives__text__container .objectives__text__inner .objectives__text {
  display: flex;
  align-items: start;
  margin-top: 20px;
}
.program__objectives__inner .objectives__text__container .objectives__text__inner .objectives__text img {
  margin-right: 20px;
}
.program__objectives__inner .objectives__text__container .objectives__text__inner .objectives__text span {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .program__objectives__inner .man__container {
    width: 700px;
  }
  .program__objectives__inner .objectives__text__container {
    max-width: 700px;
  }
  .program__objectives__inner .objectives__text__container .gold__road__line {
    width: 1px;
    height: 180px;
    background-color: #F0AB00;
  }
  .program__objectives__inner .objectives__text__container .objectives__text__inner {
    align-items: flex-start;
  }
}
@media (min-width: 1440px) {
  .program__objectives .container {
    width: 100%;
    padding: 0;
  }
  .program__objectives__inner {
    height: 510px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .program__objectives__inner .man__container {
    display: none;
  }
  .program__objectives__inner .objectives__text__container {
    display: none;
  }
  .program__objectives__inner .title {
    display: none;
  }
  .program__objectives__inner .man__container__desk {
    display: block;
    position: absolute;
    left: 0;
    top: -130px;
  }
  .program__objectives__inner .fictitious__container {
    min-width: 1141px;
    height: 100%;
  }
  .program__objectives__inner .objectives__text__desk {
    display: block;
    margin-top: 80px;
    width: 440px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .program__objectives__inner .objectives__text__desk div {
    padding-bottom: 69px;
  }
}/*# sourceMappingURL=program__objectives.css.map */