.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reasons .reasons__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reasons .reasons__inner .reasons__desk {
  display: none;
}
.reasons .reasons__inner .reasons__carousel {
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
}
.reasons .reasons__inner .integration__button {
  display: none;
}
.reasons .reasons__carousel {
  margin-bottom: 40px;
}
.reasons .reasons__carousel .carousel__none {
  display: none;
}
.reasons .reasons__carousel .carousel__reasons .carousel__inner {
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F5F5F5;
  margin-bottom: 30px;
}
.reasons .reasons__carousel .carousel__reasons .carousel__inner .reason__slide {
  background-color: #F5F5F5;
}
.reasons .reasons__carousel .carousel__reasons .carousel__inner .reason__slide .reason__slide__inner {
  background-color: #F5F5F5;
  margin: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reasons .reasons__carousel .carousel__reasons .carousel__inner .reason__slide img {
  display: block;
  margin: 0 auto;
  padding: 41px 0 31px 0;
}
.reasons .reasons__carousel .carousel__reasons .carousel__inner .reason__slide a {
  text-decoration: none;
  font-family: Arial;
  color: #9DB0AC;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.swiper .pagination__custom {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .reasons .container {
    padding: 0;
    width: 700px;
  }
  .reasons .container .reasons__inner .reasons__carousel {
    width: 100%;
  }
  .reasons .container .reasons__inner .reasons__carousel .swiper {
    display: none;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__none {
    display: block;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide .reason__slide__inner {
    align-items: center;
    display: flex;
    background: #F5F5F5;
    height: 180px;
    padding: 0 40px 0 40px;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide .reason__slide__inner .reason__slide__title {
    color: #3F4444;
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide .reason__slide__inner .reason__slide__image {
    padding-right: 40px;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide:last-child > .reason__slide__inner {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide:last-child > .reason__slide__inner .reason__slide__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide:last-child > .reason__slide__inner .reason__slide__text__lower {
    margin: 0 0 0 20px;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide:last-child > .reason__slide__inner .reason__slide__text__lower ul {
    padding: 0;
    margin: 0;
  }
  .reasons .container .reasons__inner .reasons__carousel .carousel__inner .reason__slide:last-child > .reason__slide__inner .reason__slide__text__lower ul li {
    padding: 0;
    margin: 0;
  }
  .reasons .container .reasons__inner .integration__button {
    display: block;
    width: 700px;
    height: 70px;
    background: #F0AB00;
    margin-top: 10px;
    align-items: center;
  }
  .reasons .container .reasons__inner .integration__button .integration__button__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 40px;
  }
  .reasons .container .reasons__inner .integration__button .integration__button__inner .integration__button__title {
    color: #3F4444;
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
  }
}
@media (min-width: 1280px) {
  .reasons__carousel {
    display: none;
  }
  .reasons .container {
    padding: 0;
    width: 1280px;
  }
  .reasons .container .reasons__title {
    width: 1280px;
  }
  .reasons .container .reasons__inner .reasons__desk {
    display: flex;
    margin-bottom: 140px;
    align-items: center;
    gap: 40px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__left__container {
    width: 620px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__left__container .first__reason {
    background: #F5F5F5;
    margin-bottom: 40px;
    height: 240px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__left__container .first__reason .first__reason__inner {
    display: flex;
    align-items: flex-start;
    padding: 50px 50px 50px 50px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__left__container .first__reason .first__reason__inner img {
    margin-right: 50px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__left__container .second__reason {
    background: #F5F5F5;
    height: 210px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__left__container .second__reason .second__reason__inner {
    display: flex;
    align-items: flex-start;
    padding: 50px 50px 50px 50px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__left__container .second__reason .second__reason__inner img {
    margin-right: 50px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__right__container .third__reason {
    width: 510px;
    height: 490px;
    background: #F5F5F5;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__right__container .third__reason .third__reason__inner {
    padding: 50px 50px 50px 50px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__right__container .third__reason .third__reason__inner .reason__slide__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__right__container .third__reason .third__reason__inner .reason__slide__top .reason__slide__title {
    color: #3F4444;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-left: 50px;
  }
  .reasons .container .reasons__inner .reasons__desk .reasons__right__container .third__reason .third__reason__inner .reason__slide__text__lower ul {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .reasons .container .reasons__inner .reasons__desk .integration__button__desk {
    width: 70px;
    height: 490px;
    background: #F0AB00;
    display: flex;
    align-items: center;
  }
  .reasons .container .reasons__inner .reasons__desk .integration__button__desk .integration__button__inner {
    width: 70px;
    height: 450px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .reasons .container .reasons__inner .reasons__desk .integration__button__desk .integration__button__title {
    transform: rotate(270deg);
    margin-bottom: 60px;
    color: #3F4444;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
  }
  .reasons .container .reasons__inner .reasons__desk .integration__button__desk .integration__button__chekbox {
    transform: rotate(270deg);
  }
}/*# sourceMappingURL=reasons.css.map */