.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F5F5;
}
.team .team__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .team__description {
  text-align: center;
  margin-bottom: 34px;
}
.team .team__description span:nth-of-type(odd) {
  color: #3F4444;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.team .team__description span:nth-of-type(even) {
  color: #3F4444;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.team__carousel {
  width: 300px;
}
.team__carousel .team__slide {
  width: 290px;
  height: 360px;
  background: white;
  margin-bottom: 21px;
}
.team__carousel .team__slide .team__slide__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__carousel .team__slide .team__slide__inner img {
  margin: 30px 0 25px 0;
}
.team__carousel .team__slide .team__slide__inner .member__name {
  color: #3F4444;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 14px;
}
.team__carousel .team__slide .team__slide__inner .post {
  color: #9DB0AC;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.team__carousel .team__slide .team__slide__inner .work__place {
  color: #9DB0AC;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.team__desk {
  display: none;
}

@media (min-width: 768px) {
  .team .team__carousel {
    width: 600px;
  }
}
@media (min-width: 1280px) {
  .team {
    display: none;
  }
  .team__desk {
    display: flex;
    justify-content: center;
    background: white;
  }
  .team__desk .container {
    padding: 0;
  }
  .team__desk .team__desk__inner {
    width: 1280px;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-button-prev {
    background-image: url("../img/icons/button-prev.svg");
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-button-prev::after {
    display: none;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-button-next {
    background-image: url("../img/icons/button-next.svg");
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-button-next::after {
    display: none;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-wrapper {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-wrapper .swiper-slide-team {
    width: 290px;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-wrapper .swiper-slide-team .team-slide-inner {
    width: 290px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-wrapper .swiper-slide-team .team-slide-inner img {
    margin: 30px 0 25px 0;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-wrapper .swiper-slide-team .team-slide-inner .member__name {
    color: #3F4444;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-wrapper .swiper-slide-team .team-slide-inner .post {
    color: #9DB0AC;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .team__desk .team__desk__inner .team__desk__swiper__container .team__desk__swiper .swiper-wrapper .swiper-slide-team .team-slide-inner .work__place {
    color: #9DB0AC;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}/*# sourceMappingURL=team.css.map */