.documents{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    .documents__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.documents__swiper{
    width: 300px;
    
    .document__slide{
        text-align: center;
        height: 131px;
        border: 1px solid #E7E7E7;
        margin-right: 0px;
        .document__name{
            color: #0F488B;
            font-family: Arial;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            margin: 22px 0 22px 0;
        }
        .document__download{
            display: flex;
            justify-content: space-between;
            .document__download__button{
                border: none;
                background: none;
            }
            .document__extension{
                color:  #9DB0AC;
                font-family: Arial;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }
}
@media (min-width:768px) {
    .documents{
        .documents__swiper{
            width: 700px;
        }
    }

    
}