.juries__and__mentors{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    .juries_and_mentors__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .juri__description{
        text-align: center;
        margin-bottom: 34px;
        span:nth-of-type(odd){
            color: #3F4444;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
        }
        span:nth-of-type(even){
            color: #3F4444;
            text-align: center;
            font-family: Arial;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
    }
}

.juri__carousel{
    width: 300px;
    .juri__control__panel{
        display: flex;
        column-gap: 10px;
        justify-content: center;
        margin-bottom: 40px;
    }
    .juri__slide{
        width: 290px;
        height: 360px;
        background: white;
        margin-bottom: 21px;
        .juri__slide__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                margin: 30px 0 25px 0;
            }
            .juri__name{
                color: #3F4444;
                text-align: center;
                font-family: Arial;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 14px;
            }
            .work__place{
                color: #9DB0AC;
                text-align: center;
                font-family: Arial;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; 
            }
        }
    }
}
.juries__desk{
    display: none;
}
@media (min-width:768px) {
    .juries__and__mentors{
        .juri__description{
            display: flex;
            column-gap: 20px;
        }
        .juri__carousel{
            width: 600px;
        }
    }

    
}


@media(min-width:1280px) {
    .juries__and__mentors{
        display: none;
    }
    .juries__desk{
        background: #F5F5F5 ;
        display: flex;
        justify-content: center;
        .juries__desk__inner{
            margin-bottom: 130px;
            width: 1280px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .juri__description{
                position: absolute;
                right: 0;
                width: 830px;
                height: 840px;
                background: #F0AB00;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                :first-child{
                    margin-top: -60px;
                }
                span:nth-of-type(odd){
                    color: #3F4444;
                    text-align: center;
                    font-family: Arial;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                }
                span:nth-of-type(even){
                    color: #3F4444;
                    text-align: center;
                    font-family: Arial;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    
                }
                div{
                    width: 220px;
                    margin-bottom: 40px;
                }

            }
            .juries__desk__slides{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                z-index: 10;
                gap: 40px;
                .juri__slide{
                    width: 290px;
                    height: 360px;
                    background: white;
                    .juri__slide__inner{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img{
                            margin: 30px 0 25px 0;
                        }
                        .juri__name{
                            color: #3F4444;
                            text-align: center;
                            font-family: Arial;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            margin-bottom: 14px;
                        }
                        .work__place{
                            color: #9DB0AC;
                            text-align: center;
                            font-family: Arial;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px; 
                        }
                    }
                }
            }
        }
    }
}