.navbar__wrap{
    display: none;
 }
 
.navbar__wrap__after{
     display: flex;
     flex-direction: column;
     position: absolute;
     width: 100%;
     height: 100%;
     background: #ffff;
     
    .menu__items{
        margin-bottom: 35px;
        a{
            text-decoration: none;
            color:#0F488B;
            text-align: center;
            font-family: Arial;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            
        }
        ul{
            list-style: none;
            li:not(:last-child){
                margin-bottom:25px;
            }
        }
}
     #burger_button__right{
        position: absolute;
        right: 12px;
        border: none;
        background-image: url("../img/icons/close_nav.svg");
        background-color: #ffff;
        background-position: center;
        background-size: cover;
        width: 24px;
        height: 24px;
        img{
            display: none;
        }
        
     }
     .footer__nav{
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        .footer__nav__inner{
            .contact__name__nav{
                margin-bottom: 13px;
                margin-top: 20px;
                color: #3F4444;
                font-family: Arial;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                :last-child{
                    color:#3F4444;
                    font-family: Arial;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                }
            }
            .contact__email{
                margin-bottom: 17px;
                a{
                    text-decoration: none;
                    color: #830051;
                    font-family: Arial;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                }
            }
            .contact__number{
                color: #3F4444;
                font-family: Arial;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                a{
                    font-size: 24px;
                    text-decoration: none;
                    color: #3F4444;
                }
            }
        }
     }
 }