.privilege__list{
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;
    align-items: center;
    .privilege__list__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .privilege{
        display: flex;
        margin-bottom: 25px;
        .privilege__icon{
            margin-right: 20px;
        }
        &:first-child{
            padding-top: 30px;
        }
    }
}

@media (min-width:768px) {
    .privilege__list{
        padding-top: 50px;
        .privilege__list__inner{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            margin-bottom: 45px;
            .privilege{
                justify-content: flex-start;
                align-items: flex-start;
                &:first-child{
                    padding-top: 0;
                }
                
            }
        }
    }
}