
.top__girl__section{
    background: #F0AB00;
    width: 100%;
    height: 280px;
    
    
}
.woman__desktop{
    display: none;
}
.top__girl__section__inner{
    display: flex;
    justify-content: center;
    position: relative;
    
    
    height: 100%;
    .iLab__title{

        margin-top: 25px;
        margin-right: 15px;
        
    }
    .Lab__title{
        
        margin-top: 25px;
        height: max-content;
        
        
    }
    
    .iLab_text{  
        text-align: right;
        color: #FFF;
        font-family: Arial;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    
}

.woman{
    position: absolute;
    max-height: 247px;
    bottom: 0;
}


@media (min-width: 768px) {
    .top__girl__section{
        position: absolute;
        right: 34px;
        top: 265px;
        width: 340px;
        height: 280px;

    }
}



@media (min-width: 1280px) {
    .top__girl__section{
        display: none;

    }
    .woman__desktop{
        display: block;
        position: absolute;
        right: 0;
        top: 120px;
        img{
            width: 390px;
        }

}
}

@media (min-width: 1440px) {
    .woman__desktop{
        img{
            width: 560px;
        }
    }
}

@media (min-width: 1815px) {
    .woman__desktop{
        img{
            width: 100%;
        }
    }
}