.we__search{
    height: fit-content;
    background-image: url("../img/designers.png");
    background-position: center;
    background-size: cover;
    width: 100%;

    .we__search__inner{
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .search__lower__container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .search__title{  
            padding: 30px 0 15px 0;   
            text-align: center;
            span{
                color:white;  
                &:first-child{
                    font-family: Arial;
                    font-size: 14px;
                    font-weight: 700;
                }
                &:last-child{
                    font-family: Arial;
                    font-size: 26px;
                    font-weight: 700;
                }
            }
        }
    
        .search__button{       
            button{
                border: none;
                background: #F0AB00;
                width: 197px;
                height: 56px;
                font-family: Arial;
                font-weight: 700;
                font-size: 16px;
                color: #3F4444;
                text-decoration: none;
                margin-bottom: 25px;
            }
        }
        .allusion{
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
            }
            span{
                color: #F0AB00;
                font-family: Arial;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
            }
        }
    }
}

.search__title{
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 46px 0 23px 0;
}
.search__text{
    color: white;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

@media (min-width:768px){

    .we__search{
        display: flex;
        justify-content: center;
        .we__search__inner{
            width: 700px;
            align-items: flex-start;
            .search__lower__container{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 33px 0 0 0;
                .search__reverse{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    .search__title{
                        padding: 0;
                        margin-right: 30px;
                    }
                    button{
                        margin: 0 30px 0 0 ;
                    }
                }
            }
        }
    }
}

@media (min-width:1280px) {
    .we__search{
        background-image: none;
        height: 540px;
        
        .container{
            background-image: url("../img/designers.png");
            background-position: center;
            background-size: cover;
            padding: 0;
            display: flex;
            justify-content: center;
            .we__search__inner{
                margin-bottom: 0;
                width: 1280px;
                .search__inner__container{
                    margin: 110px 110px 110px 110px;
                    .search__title{
                        margin: 0;
                        padding: 0 0 30px 0;
                        text-align: left;
                    }
                    .search__text{
                        margin: 0;
                        padding: 0 0 60px 0;
                        width: 770px;
                        color:  #FFFF;
                        font-family: Arial;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 27px;
                    }
                    .search__lower__container{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        width: 1060px;
                        justify-content: space-between;
                        .search__reverse{
                            padding: 0;
                            .search__title{
                                padding: 0;
                                :first-child{
                                    font-size: 15px;
                                    line-height: 24px;
                                }
                                :last-child{
                                    font-size: 30px;
                                    line-height: 40px
                                }
                            }
                        }
                    }
                }
            }
            
            
        }
    }
}