.we__search{
    height: fit-content;
    background-image: url("../img/designers.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    .we__search__inner{
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .search__lower__container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .search__title{  
            padding: 30px 0 15px 0;   
            text-align: center;
            span{
                color:white;  
                &:first-child{
                    font-family: Arial;
                    font-size: 14px;
                    font-weight: 700;
                }
                &:last-child{
                    font-family: Arial;
                    font-size: 26px;
                    font-weight: 700;
                }
            }
        }
    
        .search__button{       
            button{
                border: none;
                background: #F0AB00;
                width: 197px;
                height: 56px;
                font-family: Arial;
                font-weight: 700;
                font-size: 16px;
                color: #3F4444;
                text-decoration: none;
                margin-bottom: 25px;
            }
        }
        .allusion{
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
            }
            span{
                color: #F0AB00;
                font-family: Arial;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
            }
        }
    }
}

.search__title{
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 46px 0 23px 0;
}
.search__text{
    color: white;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

@media (min-width:768px){
    .we__search{
        display: flex;
        justify-content: center;
        .we__search__inner{
            width: 700px;
            align-items: flex-start;
            .search__lower__container{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 33px 0 0 0;
                .search__reverse{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    .search__title{
                        padding: 0;
                        margin-right: 30px;
                    }
                    button{
                        margin: 0 30px 0 0 ;
                    }
                }
            }
        }
    }
}